.form-group.fixed.bottom-0.w-full
  = form_with model: [@single_room, @message], remote: true, class: "flex space-x-2 items-center" do |f|
    = f.text_field :content, id: 'chat-text', class: "form-control w-full max-h-40 overflow-auto px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500", autocomplete: 'off'
    = f.submit class: "bg-blue-500 text-white font-medium px-3 py-2 rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500", data: { disable_with: false }
